* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sobre {
    max-width: 50%;
    text-align: center;
    padding: 5px;
    margin: 0 auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

:root {
    --primary-color: #3498db;
    --primary-hover: #2980b9;
    --background-color: #ecf7ff;
    --text-color: #2c3e50;
    --white: #fff;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --shadow-hover: rgba(0, 0, 0, 0.2);
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 15px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: var(--white);
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

#product {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product {
    background-color: var(--white);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product p {
    font-weight: 700;
    margin: 10px 0;
    color: var(--text-color);
}

.product span {
    display: block;
    font-size: 18px;
    color: var(--primary-color);
    margin-bottom: 10px;
    font-weight: bold;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px var(--shadow-hover);
}

.product-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

.product-buttons button {
    flex: 1;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-buttons button:hover {
    background-color: var(--primary-hover);
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--primary-hover);
}

#detalhes {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 4px 10px var(--shadow-color);
}

#detalhes h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#detalhes p {
    margin-bottom: 15px;
}

#detalhes .price {
    font-size: 16px;
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: var(--white);
    position: relative;
    bottom: 0;
    width: 100%;
}

.pagina-checkout {
    text-align: center;
    align-items: center;
}

.pagina-checkout #carrinhoLista {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin-top: 20px;
}

.pagina-checkout .product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 600px;
}

.pagina-checkout .product img {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.pagina-checkout .product p {
    margin: 0;
    flex: 1;
}

.pagina-checkout .product span {
    margin-right: 10px;
}

.pagina-checkout .product button {
    padding: 5px 10px;
    background-color: var(--primary-hover);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.pagina-checkout .product button:hover {
    background-color: var(--primary-hover);
}

.pagina-checkout #carrinhoTotal {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#checkout.carrinho {
    max-width: 60%;
}

@media (max-width: 768px) {
    .product {
        width: 90%;
    }

    .product-buttons {
        flex-direction: column;
    }

    .product-buttons button {
        width: 100%;
    }
}
